/* noticeInfo.do 판매글 상세보기 시, 지도 크기 지정 */
#map {
    width: 350px;
    height: 200px;
    margin-top: 10px;
    display: none
}

.select_img img { margin:20px 0; }

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
    width: 100%;
    height: 500px;
}

ul {
    list-style: none;
}

/*#list ul li:hover{
    background-color : lightgray;
} */

.btn btn-danger {
    width: 10px;
    height: 10px;
}

#hide {
    width: 300px; height: 350px; font-family: 'Poor Story'; background-image: url('../../../resources/boot/img/logo/cart.gif'); background-size: cover;
}

#maphide {
    width: 300px; height: 350px; font-family: 'Poor Story'; background-image: url('../../../resources/boot/img/logo/maps.gif'); background-size: cover;
}

.styles {
    width: 95%;
    display: block;
    margin: 0 auto;
}