/* signUp.jsp(회원가입) CSS 지정 */
/* 회원가입 시 표시되는 지도 크기 지정 */
#map {
    width: 350px;
    height: 200px;
    margin-top: 10px;
    display: none
}

#chartdivLogin {
    width: 420px;
    height: 380px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    #chartdivLogin {
        width: 300px;
        height: 250px;
    }
}