<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.ICartMapper">

    <!-- 장바구니 담기 -> select 서브쿼리를 이용하여 insert -->
    <!-- alias를 주어 원하는 값(user_no)과 select 해온 값 insert가 가능하다. -->
    <insert id="InsertCart" parameterType="CartDTO">
        INSERT INTO
        aroundsell.cart
        (
         USER_NO,
         GOODS_NO,
         IMGS,
         GOODS_TITLE,
         GOODS_PRICE,
         CATEGORY
        )
        SELECT #{user_no},
               GOODS_NO,
               IMGS,
               GOODS_TITLE,
               GOODS_PRICE,
               CATEGORY FROM
            (SELECT * FROM aroundsell.product
                WHERE GOODS_NO = #{goods_no}) a
    </insert>

    <!-- 장바구니 목록 가져오기 -->
    <select id="myCart" parameterType="CartDTO" resultType="CartDTO">
        SELECT *
        FROM aroundsell.cart
        WHERE USER_NO = #{user_no}
    </select>

    <!-- 장바구니 전체 물품 삭제 -->
    <delete id="deleteCart" parameterType="CartDTO">
        DELETE
        FROM aroundsell.cart
        WHERE USER_NO = #{user_no}
        AND GOODS_NO = #{goods_no}
    </delete>

    <!-- 장바구니 전체 물품 삭제 -->
    <!--<delete id="delCart" parameterType="CartDTO">
        DELETE
        FROM aroundsell.cart
        WHERE USER_NO = #{user_no}
    </delete> -->

    <!-- 장바구니 담기 시, 기존에 담은 상품인지 확인 -->
    <select id="cartChk" parameterType="CartDTO" resultType="CartDTO">
        SELECT * FROM
        aroundsell.cart
        WHERE USER_NO = #{user_no}
        AND GOODS_NO = #{goods_no}
    </select>

    <!-- 판매글 수정 시, 해당 상품이 장바구니에 담겼는지 확인 : 있다면, 상품 수정된 내용으로 변경을 요청함 -->
    <select id="updateChk" parameterType="CartDTO" resultType="CartDTO">
        SELECT
            GOODS_NO
        FROM
            aroundsell.cart
        WHERE
              GOODS_NO = #{goods_no}
    </select>

    <!-- 판매글 수정 시, 해당 상품이 장바구니에 담겨있다면 수정된 내용으로 장바구니 테이블 업데이트 -->
    <!-- user_no까지 배열형태로 담아와서 삭제하는게 필요한지 테스트 해보기(추후 변경 예정) -->
    <update id="updateCart" parameterType="CartDTO">
        UPDATE
            aroundsell.cart
        SET
            IMGS = #{imgs},
            GOODS_TITLE = #{goods_title},
            CATEGORY = #{category},
            GOODS_PRICE = #{goods_price}
        WHERE
            GOODS_NO = #{goods_no}
    </update>

</mapper>