<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.ICommentMapper">

    <!-- 댓글 등록하기(존재하는 게시글의 번호에 ajax 방식으로 등록된다) -->
    <insert id="insertComment" parameterType="CommentDTO">
        INSERT INTO
        aroundsell.comment
        (
         GOODS_NO,
         USER_NO,
         CONTENT,
         USER_NAME,
         POLARITY
        )
        VALUES
        (
         #{goods_no},
         #{user_no},
         #{content},
         #{user_name},
         #{polarity}
        )
    </insert>

    <!-- 댓글 목록 가져오기(게시글이 로딩될 때, 댓글 목록을 함께 불러옴) -->
    <select id="getComment" parameterType="CommentDTO" resultType="CommentDTO">
        SELECT *
        FROM
             aroundsell.comment
        WHERE
            GOODS_NO = #{goods_no}
    </select>

    <!-- 댓글 삭제하기(댓글번호 comment_no)를 전달받아 삭제 진행 -->
    <delete id="delComment" parameterType="CommentDTO">
        DELETE
        FROM
            aroundsell.comment
        WHERE
            COMMENT_NO = #{comment_no}
    </delete>

    <!-- 댓글 수정하기(상품번호, 회원번호는 모두 동일함) -->
    <update id="editComment" parameterType="CommentDTO">
        UPDATE
            aroundsell.comment
        SET
            CONTENT = #{content},
            USER_NAME = #{user_name},
            POLARITY = #{polarity}
        WHERE
            COMMENT_NO = #{comment_no}
    </update>

    <!-- 댓글을 수정할 때, 내용 표시를 위해 기존 댓글정보를 가져옴(댓글번호) -->
    <select id="getCommentDetail" parameterType="CommentDTO" resultType="CommentDTO">
        SELECT * FROM
            aroundsell.comment
        WHERE
            COMMENT_NO = #{comment_no}
    </select>

    <!-- 댓글 수 체크(한명 당 최대 3개의 댓글만 달 수 있도록 설정) -->
    <select id="commentCnt" parameterType="CommentDTO" resultType="int">
        SELECT
            COUNT(*)
        FROM
            aroundsell.comment
        WHERE
            USER_NO = #{user_no}
        AND
            GOODS_NO = #{goods_no}
    </select>

</mapper>