/* 메인 top aroundsell 로고 */
#aroundsell {
    width:160px;
    height: 45px;
    padding-bottom: 3px;
    margin-left: 10px;
}

/* 메인 top aroundsell 로고 옆 돋보기 표시 */
#findlogo {
    margin-left: 12px;
    width: 30px;
    height: 35px;
    padding-bottom: 3px;
}
